<div class="row">
  <div class="span10 offset1">
    <h1>Items</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Detalle</th>
          <th>Estado</th>
          <th>Cliente</th>
          <th>Fecha</th>

        </tr>
      </thead>
      <tbody>
        <%= render @items %>
      </tbody>
    </table>

  </div>
</div>