<div class="row">
  <div class="span12">
    <h1>Items</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Detalle</th>
          <th>Estado</th>
          <th>Cliente</th>
          <th>Tecnico</th>
          <th>Recibido</th>
          <th>Entregado</th>
          <th>a/c</th>
          <th>trabajo</th>
          <th>repuesto</th>
          <th>Total</th>

        </tr>
      </thead>
      <tbody>
        <%= render @items %>
      </tbody>
    </table>

  </div>
</div>