
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @usuario.nombre %> <%= @usuario.apellido %>
      </h1>
  
      <div id="datos">
        <%= @usuario.telefono %>      
      </div>
    </section>
  </aside>
</div>

