<footer class="footer">
  
  <nav>
    <ul>
      
      <li><%= link_to "Privace", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Ayuda", '#' %></li>

    </ul>
  </nav>

</footer>